.container {
    width: 100%;
    h1{
        text-decoration: underline;
        font-weight: 500;
      
    }
   mat-card{
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    // display: flex;
    // width: 250px;
   
    mat-card-actions {
       
        :hover{
            color: white;
            background-color: #1976d2be;
        }
        button {
            background-color: beige;
            color: black;         
        }
    }
   }
}

