<!-- <div class="container d-flex align-items-center flex-column">

    <p>Inscrivez-vous :</p> <br>
    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">


        <p >
          <mat-form-field appearance="fill">
            <mat-label>Civilité</mat-label>
            <mat-select formControlName="civilite" required>
              <mat-option value="Mr">
                Mr 
              </mat-option>
              <mat-option value="Mme">
                Mme
              </mat-option>
            </mat-select>
            <mat-icon matSuffix>account_circle</mat-icon>
          </mat-form-field>
          </p>
        <p >
            <mat-form-field appearance="fill">
              <mat-label>Nom</mat-label>
              <input formControlName="nom" matInput placeholder="Nom" type="text" autocomplete="family-name">
              <mat-icon matSuffix>account_circle</mat-icon>
            </mat-form-field>
          </p>
          <p>
            <mat-form-field appearance="fill">
              <mat-label>Prénom</mat-label>
              <input formControlName="prenom" matInput placeholder="Prénom" autocomplete="given-name">
              <mat-icon matSuffix>account_circle</mat-icon>
            </mat-form-field>
          </p>
          <p>
            <mat-form-field appearance="fill">
              <mat-label>Téléphone</mat-label>
              <input formControlName="telephone" matInput placeholder="Numero de téléphone" autocomplete="tel">
              <mat-icon matSuffix>phone</mat-icon>
            </mat-form-field>
          </p>
          <p>
            <mat-form-field appearance="fill">
              <mat-label>Adresse</mat-label>
              <input formControlName="rue" matInput placeholder="Numéro/ Rue" autocomplete="address-line1">
              <mat-icon matSuffix>home</mat-icon>
            </mat-form-field>
          </p>
          <p>
            <mat-form-field appearance="fill">
              <mat-label>Code postale</mat-label>
              <input formControlName="cp" matInput placeholder="74000" autocomplete="postal-code">
              <mat-icon matSuffix>home</mat-icon>
            </mat-form-field>
          </p>
          <p>
            <mat-form-field appearance="fill">
              <mat-label>Ville</mat-label>
              <input formControlName="ville" matInput placeholder="Paris" type="text">
              <mat-icon matSuffix>home</mat-icon>
            </mat-form-field>
          </p>
          <p>
            <mat-form-field appearance="fill">
              <mat-label>Email</mat-label>
              <input formControlName="email" matInput placeholder="Email">
              <mat-icon matSuffix>alternate_email</mat-icon>
            </mat-form-field>
          </p>
          <p>
            <mat-form-field appearance="fill">
              <mat-label>Mot de passe</mat-label>
              <input matInput [type]="hide ? 'password' : 'text'" formControlName="mdp" matInput placeholder="8 caractères min" type="text" autocomplete="current-password">
              <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                [attr.aria-pressed]="hide">
                <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
            </mat-form-field>
          </p>
          <p>
            <mat-form-field appearance="fill">
              <mat-label>Confirmer le mot de passe</mat-label>
              <input matInput [type]="hide ? 'password' : 'text'" formControlName="confirmMdp" matInput placeholder="8 caractères min" type="text" autocomplete="current-password">
              <mat-error *ngIf="mdpErreur">
                Vos mots de passe ne correspondent pas
                </mat-error>
                <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                [attr.aria-pressed]="hide">
                <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
            </mat-form-field>
          </p>
          <p>
            <mat-form-field appearance="fill">
              <mat-label>SIRET</mat-label>
              <input formControlName="siret" matInput placeholder="Numéro Siret">
              <mat-icon matSuffix>account_circle</mat-icon>
            </mat-form-field>
          </p>
          <p>
            <mat-form-field appearance="fill">
              <mat-label>Raison Sociale</mat-label>
              <input formControlName="raison_sociale" matInput placeholder="Raison Sociale" autocomplete="organization">
              <mat-icon matSuffix>account_circle</mat-icon>
            </mat-form-field>
          </p>
         
          <p>
            <mat-form-field appearance="fill">
              <mat-label>Code APE</mat-label>
              <input formControlName="code_ape" matInput placeholder="Code APE" type="text">
              <mat-icon matSuffix>home</mat-icon>
            </mat-form-field>
          </p>
          <p >
            <mat-form-field class="d-none" appearance="fill">
              <input formControlName="sign" matInput placeholder="Code signature" type="text" value={{entreprise.sign}}>
            </mat-form-field>
          </p>
          <div><p>Signature*</p>
            <canvas #canvas (touchstart)="startDrawing($event)" (touchmove)="moved($event)">

            </canvas>
            <div class="d-flex justify-content-around">
              <button class="btn btn-outline-danger btn-sm col me-2" type="button" (click)="clearPad()">Effacer</button>
              <button class="btn btn-outline-primary btn-sm col me-2" type="button" (click)="savePad()"
                (click)="buttonClick1()">Confirmer 1/2</button>
            </div>
          </div>
      
        <button class="btn btn-outline-success col me-2" [disabled]="btnDisabled" type="button"
           (click)="showSnackbarAction('La signature à bien été prise en compte. Nous procédons à votre enregistrement','OK')">Valider votre inscription 2/2</button>
        
            <mat-spinner color="primary" diameter="200" *ngIf="isLoading"></mat-spinner>
          
      </form>
  
</div> -->

 <!-- *********************************REGISTER MODE AVEC API.GOUV POUR LA BASE DE DONNEE****************************************************** -->

<div class="container d-flex align-items-center flex-column">
  
  <p>Inscrivez-vous :</p> <br>
  <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">

    <p>
      <mat-form-field appearance="fill">
        <mat-label>SIREN</mat-label>
        <input (click)="inputClicked = false" 
        [ngClass]="{'input-clicked': inputClicked}" 
        type="text" pattern="[0-9]*" maxlength="9" 
        onkeypress="return event.charCode >= 48 && event.charCode <= 57" 
        formControlName="siret" 
        matInput placeholder="Numéro Siret" 
        (keypress)="Send($event)">
        <mat-hint><mat-icon matSuffix>warning</mat-icon> Appuyez sur ENTRER ou cliquez sur <mat-icon matSuffix>check_circle</mat-icon>  pour valider le SIREN (9 chiffres).</mat-hint>
        <mat-icon (click)="onGetNom()" style="cursor: pointer;" [ngClass]="{'input-clicked': inputClicked}" matSuffix>check_circle</mat-icon>
      </mat-form-field>
    </p>
    <p>
      <mat-form-field appearance="fill" *ngFor="let data of apiEntreprise">
        <mat-label>Raison Sociale</mat-label>
        <mat-select formControlName="raison_sociale" (valueChange)="data.nom_raison_sociale">
          <mat-option  [value]="data.nom_raison_sociale">
            {{data.nom_raison_sociale}}
          </mat-option>
        </mat-select>
        <mat-icon matSuffix>account_circle</mat-icon>
      </mat-form-field>
    </p>
    <p>
      <mat-form-field appearance="fill" *ngFor="let data of apiEntreprise">
        <mat-label>Code APE</mat-label>
        <mat-select formControlName="code_ape" (valueChange)="data.activite_principale">
          <mat-option  [value]="data.activite_principale">
            {{data.activite_principale}}
          </mat-option>
        </mat-select>
        <mat-icon matSuffix>home</mat-icon>
      </mat-form-field>
    </p>
        <p>
          <mat-form-field appearance="fill" *ngFor="let data of apiEntreprise">
            <mat-label>Adresse</mat-label>
            <mat-select formControlName="rue" (valueChange)="data.siege.numero_voie +' '+ data.siege.type_voie + ' ' + data.siege.libelle_voie">
              <mat-option  [value]="data.siege.numero_voie + ' ' + data.siege.type_voie + ' ' + data.siege.libelle_voie">
                {{data.siege.numero_voie }} {{data.siege.type_voie }} {{data.siege.libelle_voie}}
              </mat-option>
            </mat-select>
            <mat-icon matSuffix>home</mat-icon>
          </mat-form-field>
        </p>
        <p>
          <mat-form-field appearance="fill" *ngFor="let data of apiEntreprise">
            <mat-label>Code postale</mat-label>
            <mat-select formControlName="cp" (valueChange)="data.siege.code_postal">
              <mat-option  [value]="data.siege.code_postal">
                {{data.siege.code_postal}}
              </mat-option>
            </mat-select>
            <mat-icon matSuffix>home</mat-icon>
          </mat-form-field>
        </p>
        <p>
          <mat-form-field appearance="fill"*ngFor="let data of apiEntreprise">
            <mat-label>Ville</mat-label>
            <mat-select formControlName="ville" (valueChange)="data.siege.libelle_commune">
              <mat-option  [value]="data.siege.libelle_commune">
                {{data.siege.libelle_commune}}
              </mat-option>
            </mat-select>
            <mat-icon matSuffix>home</mat-icon>
          </mat-form-field>
        </p>
        <p >
          <mat-form-field appearance="fill">
            <mat-label>Civilité</mat-label>
            <mat-select formControlName="civilite" required>
              <mat-option value="Mr">
                Monsieur 
              </mat-option>
              <mat-option value="Mme">
                Madame
              </mat-option>
            </mat-select>
            <mat-icon matSuffix>account_circle</mat-icon>
          </mat-form-field>
          </p>
        <p >
            <mat-form-field appearance="fill" *ngFor="let data of apiEntreprise" >
              <mat-label>Nom</mat-label>
              <mat-select style="text-transform: uppercase;" formControlName="nom" (valueChange)="data.dirigeants[0].nom">
                <mat-option style="text-transform: uppercase;" value={{data.dirigeants[0].nom}}>
                  {{data.dirigeants[0].nom}}
                </mat-option>
              </mat-select>
              <mat-icon matSuffix>account_circle</mat-icon>
            </mat-form-field>
          </p>
          <p>
            <mat-form-field appearance="fill" *ngFor="let data of apiEntreprise" >
              <mat-label>Prénom</mat-label>
              <mat-select style="text-transform: capitalize;" formControlName="prenom" (valueChange)="data.dirigeants[0].prenoms">
                <mat-option style="text-transform: capitalize;"  [value]="data.dirigeants[0].prenoms">
                  {{data.dirigeants[0].prenoms}}
                </mat-option>
              </mat-select>
              <mat-icon matSuffix>account_circle</mat-icon>
            </mat-form-field>
          </p>
        <p>
          <mat-form-field appearance="fill">
            <mat-label>Téléphone</mat-label>
            <input formControlName="telephone" matInput placeholder="Numero de téléphone" autocomplete="tel">
            <mat-icon matSuffix>phone</mat-icon>
          </mat-form-field>
        </p>
        <p>
          <mat-form-field appearance="fill">
            <mat-label>Email</mat-label>
            <input formControlName="email" matInput placeholder="Email">
            <mat-icon matSuffix>alternate_email</mat-icon>
          </mat-form-field>
        </p>
        <p>
          <mat-form-field appearance="fill">
            <mat-label>Mot de passe</mat-label>
            <input matInput [type]="hide ? 'password' : 'text'" formControlName="mdp" matInput placeholder="8 caractères min" type="text" autocomplete="current-password">
            <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
              [attr.aria-pressed]="hide">
              <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
          </button>
          </mat-form-field>
        </p>
        <p>
          <mat-form-field appearance="fill">
            <mat-label>Confirmer le mot de passe</mat-label>
            <input matInput [type]="hide ? 'password' : 'text'" formControlName="confirmMdp" matInput placeholder="8 caractères min" type="text" autocomplete="current-password">
            <mat-error *ngIf="mdpErreur">
              Vos mots de passe ne correspondent pas
              </mat-error>
              <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
              [attr.aria-pressed]="hide">
              <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
          </button>
          </mat-form-field>
        </p>
        <p >
          <mat-form-field class="d-none" appearance="fill">
            <input formControlName="sign" matInput placeholder="Code signature" type="text" value={{entreprise.sign}}>
          </mat-form-field>
        </p>
       <div><p>Signature*</p>
            <canvas #canvas (touchstart)="startDrawing($event)" (touchmove)="moved($event)">
            </canvas>
            <div class="d-flex justify-content-around">
              <button class="btn btn-outline-danger btn-sm col me-2" type="button" (click)="clearPad()">Effacer</button>
              <button class="btn btn-outline-primary btn-sm col me-2" type="button" (click)="savePad()"
                (click)="buttonClick1()">Confirmer 1/2</button>
            </div>
          </div>
      
        <button class="btn btn-outline-success col me-2" [disabled]="btnDisabled || registerForm.invalid" type="button"
           (click)="showSnackbarAction('Le formulaire à bien été prise en compte. Nous procédons à votre enregistrement','OK')">Valider votre inscription 2/2</button>
        
            <mat-spinner color="primary" diameter="200" *ngIf="isLoading"></mat-spinner>
    
    </form>
</div>
