<div class="container d-flex align-items-center flex-column">
    <!-- <p>Bienvenue dans l'application</p> <br> -->
    <p>Inscrivez-vous :</p> <br>
    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">


        <p >
          <mat-form-field appearance="fill">
            <mat-label>Civilité</mat-label>
            <!-- <input matInput placeholder="Civilité" type="text"> -->
            <mat-select formControlName="civilite" required>
              <mat-option value="Mr">
                Mr 
              </mat-option>
              <mat-option value="Mme">
                Mme
              </mat-option>
            </mat-select>
            <mat-icon matSuffix>account_circle</mat-icon>
          </mat-form-field>
          </p>
        <p >
            <mat-form-field appearance="fill">
              <mat-label>Nom</mat-label>
              <input formControlName="nom" matInput placeholder="Nom" type="text">
              <mat-icon matSuffix>account_circle</mat-icon>
            </mat-form-field>
          </p>
          <p>
            <mat-form-field appearance="fill">
              <mat-label>Prénom</mat-label>
              <input formControlName="prenom" matInput placeholder="Prénom">
              <mat-icon matSuffix>account_circle</mat-icon>
            </mat-form-field>
          </p>
          <p>
            <mat-form-field appearance="fill">
              <mat-label>Téléphone</mat-label>
              <input formControlName="telephone" matInput placeholder="Numero de téléphone">
              <mat-icon matSuffix>phone</mat-icon>
            </mat-form-field>
          </p>
          <p>
            <mat-form-field appearance="fill">
              <mat-label>Adresse</mat-label>
              <input formControlName="rue" matInput placeholder="Numéro/ Rue">
              <mat-icon matSuffix>home</mat-icon>
            </mat-form-field>
          </p>
          <p>
            <mat-form-field appearance="fill">
              <mat-label>Code postale</mat-label>
              <input formControlName="cp" matInput placeholder="74000">
              <mat-icon matSuffix>home</mat-icon>
            </mat-form-field>
          </p>
          <p>
            <mat-form-field appearance="fill">
              <mat-label>Ville</mat-label>
              <input formControlName="ville" matInput placeholder="Paris" type="text">
              <mat-icon matSuffix>home</mat-icon>
            </mat-form-field>
          </p>
          <p>
            <mat-form-field appearance="fill">
              <mat-label>Email</mat-label>
              <input formControlName="email" matInput placeholder="Email">
              <mat-icon matSuffix>alternate_email</mat-icon>
            </mat-form-field>
          </p>
          <p>
            <mat-form-field appearance="fill">
              <mat-label>Mot de passe</mat-label>
              <input matInput [type]="hide ? 'password' : 'text'" formControlName="mdp" matInput placeholder="8 caractères min" type="text">
              <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                [attr.aria-pressed]="hide">
                <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
              <!-- <mat-hint>Doit contenir au moins 8 caractères avec une MAJUSCULE, une minuscule, un chiffre et un caractère spécial (!@#$%^&*)</mat-hint> -->
            </mat-form-field>
          </p>
          <p>
            <mat-form-field appearance="fill">
              <mat-label>Confirmer le mot de passe</mat-label>
              <input matInput [type]="hide ? 'password' : 'text'" formControlName="confirmMdp" matInput placeholder="8 caractères min" type="text">
              <mat-error *ngIf="mdpErreur">
                Vos mots de passe ne correspondent pas
                </mat-error>
                <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                [attr.aria-pressed]="hide">
                <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
            </mat-form-field>
          </p>
          <p>
            <mat-form-field appearance="fill">
              <mat-label>SIRET</mat-label>
              <input formControlName="siret" matInput placeholder="Numéro Siret">
              <mat-icon matSuffix>account_circle</mat-icon>
            </mat-form-field>
          </p>
          <p>
            <mat-form-field appearance="fill">
              <mat-label>Raison Sociale</mat-label>
              <input formControlName="raison_sociale" matInput placeholder="Raison Sociale">
              <mat-icon matSuffix>account_circle</mat-icon>
            </mat-form-field>
          </p>
         
          <p>
            <mat-form-field appearance="fill">
              <mat-label>Code APE</mat-label>
              <input formControlName="code_ape" matInput placeholder="Code APE" type="text">
              <mat-icon matSuffix>home</mat-icon>
            </mat-form-field>
          </p>
        
        
          <!-- <button mat-raised-button type="submit" [disabled]="!registerForm.valid">Envoyer</button> -->
          <button mat-raised-button  type="submit" [disabled]="!registerForm.valid">
            Envoyer
                <mat-icon ><mat-spinner color="primary" diameter="20" *ngIf="isLoading">
            </mat-spinner></mat-icon>
          </button>
      
      </form>
 

    
</div>
