<!-- <div class="example-input-wrapper">
    <label for="duration">Animation duration:</label>
    <input id="duration" value="2000" type="number" min="0" step="100" #duration>
  </div> -->
<div class="container">
  <h1>Générer un contrat de travail</h1>
  <mat-vertical-stepper [linear]="false" #stepper (animationDuration)="2000">
    <form [formGroup]="registerForm">
      <mat-step [stepControl]="registerForm">

        <ng-template matStepLabel>Renseignez le salarié</ng-template>
        <!-- <mat-form-field>
          <input matInput placeholder="Last name, First name"  required>
        </mat-form-field> -->
        <mat-form-field appearance="fill">
          <mat-label>Identite salarié</mat-label>
          <mat-select formControlName="fki_salarie" required>
            <mat-option *ngFor="let salarie of allSalarie" [value]="salarie.salarie_id">
              {{salarie.nom}} {{salarie.prenom}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <div>
          <button mat-button matStepperNext>Suivant</button>
        </div>

      </mat-step>
     
      <mat-step [stepControl]="registerForm">
        <ng-template matStepLabel>Type de contrat</ng-template>
        <mat-form-field appearance="fill">
          <mat-label>Type de contrat</mat-label>
          <!-- <input matInput placeholder="Civilité" type="text"> -->
          <mat-select formControlName="type_contrat" required>
            <mat-option value="CDI">
             CDI
            </mat-option>
            <mat-option value="CDD">
              CDD
            </mat-option>
          </mat-select>
          <!-- <mat-icon matSuffix>account_circle</mat-icon> -->
        </mat-form-field>
        <!-- <mat-form-field>
          <input matInput placeholder="CDD, CDI, Interim" formControlName="type_contrat" required>
        </mat-form-field> -->
        <div>
          <button mat-button matStepperPrevious>Retour</button>
          <button mat-button matStepperNext>Suivant</button>
        </div>
      </mat-step>

      <mat-step [stepControl]="registerForm">
        <ng-template matStepLabel>Durée de travail</ng-template>
        <mat-form-field appearance="fill">
          <mat-label>Durée travail</mat-label>
          <!-- <input matInput placeholder="Civilité" type="text"> -->
          <mat-select formControlName="is_fulltime" required>
            <mat-option value="true">
             Temps Plein
            </mat-option>
            <mat-option value="false">
              Temps Partiel
            </mat-option>
          </mat-select>
          <!-- <mat-icon matSuffix>account_circle</mat-icon> -->
        </mat-form-field>


        <!-- <mat-button-toggle-group name="fontStyle" aria-label="Font Style" formControlName="is_fulltime" required>
          <mat-button-toggle value="true">Oui</mat-button-toggle>
          <mat-button-toggle value="false">Non</mat-button-toggle>
        </mat-button-toggle-group> -->
        <div>
          <button mat-button matStepperPrevious>Retour</button>
          <button mat-button matStepperNext>Suivant</button>
        </div>
      </mat-step>
    
      <mat-step [stepControl]="registerForm">
        <ng-template matStepLabel>Date de début</ng-template>
        <mat-form-field>
          <input matInput placeholder="" type="date" formControlName="date_debut" required>
        </mat-form-field>
        <div>
          <button mat-button matStepperPrevious>Retour</button>
          <button mat-button matStepperNext>Suivant</button>
        </div>
      </mat-step>

      <mat-step [stepControl]="registerForm" *ngIf="registerForm.value.type_contrat == 'CDD'">
        <ng-template matStepLabel>Date de fin</ng-template>
        <mat-form-field>
          <input matInput placeholder="" type="date" formControlName="date_fin">
        </mat-form-field>
        <div>
          <button mat-button matStepperPrevious>Retour</button>
          <button mat-button matStepperNext>Suivant</button>
        </div>
      </mat-step>

      <mat-step [stepControl]="registerForm">
        <ng-template matStepLabel>Periode d'essai</ng-template>
        <mat-form-field>
          <input matInput placeholder="" formControlName="periode_essai">
        </mat-form-field>
        <div>
          <button mat-button matStepperPrevious>Retour</button>
          <button mat-button matStepperNext>Suivant</button>
        </div>
      </mat-step>

      <mat-step [stepControl]="registerForm">
        <ng-template matStepLabel>Motif</ng-template>
        <mat-form-field>
          <input matInput placeholder="" formControlName="motif">
        </mat-form-field>
        <div>
          <button mat-button matStepperPrevious>Retour</button>
          <button mat-button matStepperNext>Suivant</button>
        </div>
      </mat-step>

      <mat-step [stepControl]="registerForm">
        <ng-template matStepLabel>Rémunération</ng-template>
        <mat-form-field>
          <input matInput placeholder="" formControlName="remuneration">
        </mat-form-field>
        <div>
          <button mat-button matStepperPrevious>Retour</button>
          <button mat-button matStepperNext>Suivant</button>
        </div>
      </mat-step>

      <mat-step [stepControl]="registerForm">
        <ng-template matStepLabel>Fonction</ng-template>
        <mat-form-field>
          <input matInput placeholder="" formControlName="fonction">
        </mat-form-field>
        <div>
          <button mat-button matStepperPrevious>Retour</button>
          <button mat-button matStepperNext>Suivant</button>
        </div>
      </mat-step>

      <mat-step [stepControl]="registerForm">
        <ng-template matStepLabel>Statut</ng-template>
        <mat-form-field>
          <input matInput placeholder="" formControlName="statut">
        </mat-form-field>
        <div>
          <button mat-button matStepperPrevious>Retour</button>
          <button mat-button matStepperNext>Suivant</button>
        </div>
      </mat-step>


    </form>
    <mat-step>

      <ng-template matStepLabel>Terminé</ng-template>
      Vous avez terminé le formulaire.
      <div>
        <button mat-button matStepperPrevious>Retour</button>
        <button mat-button (click)="stepper.reset()">Annuler</button>
        <button mat-button color="primary" (click)="onSubmit()" (click)="openDialog()" [disabled]=registerForm.invalid >Générer contrat</button>
      </div>
    </mat-step>
  </mat-vertical-stepper>
  <!-- <app-contrat-modal [item]="registerForm.value"></app-contrat-modal> -->

</div>