
<mat-drawer-container
[class.drawer-opened]="drawer.opened"
class="example-container">
<mat-drawer #drawer 
  class="drawer" 
  mode="side" 
  opened="true">

  <mat-toolbar class="header">
    <div class="adm">Administration</div>
    <mat-icon class="close"
   (click)="drawer.close()">close</mat-icon>
  </mat-toolbar>
  <div class="contents">
    Drawer
  </div>
  <div></div>
  <div>
    <div class="boutons">
        <a mat-raised-button (click)="drawer.toggle()"  routerLink="/entreprise/overview/gerer-profil-ent"><span>Gérer mon profil</span><mat-icon matSuffix>account_circle  </mat-icon></a>
        <a mat-raised-button (click)="drawer.toggle()"  routerLink="/entreprise/overview/gerer-contrat-ent">Gérer mes contrats<mat-icon matSuffix>folder_shared</mat-icon></a>
        <a mat-raised-button (click)="drawer.toggle()"  routerLink="/entreprise/overview/gerer-salaries-ent">Gérer mes salariés<mat-icon matSuffix>group</mat-icon></a>
        <a mat-raised-button (click)="drawer.toggle()"  routerLink="/entreprise/overview/generer-contrat">Générer un contrat<mat-icon matSuffix>create</mat-icon></a>
    </div>
  </div>
</mat-drawer>

<mat-toolbar class="main header">
  <mat-icon
    *ngIf="!drawer.opened"
    (click)="drawer.toggle()">
    menu
  </mat-icon>
  <div>Entreprise : {{profil.raison_sociale}} </div><div class="exit"><mat-icon matTooltip="Se déconnecter"
    matTooltipClass="example-tooltip-uppercase"
   (click)=" logOutClick()"
    class="example-button">exit_to_app</mat-icon></div>
</mat-toolbar>

<div class="main contents">
<router-outlet></router-outlet>
</div>

</mat-drawer-container>
