<!-- <div style=" height: 60px;" >
    <div class="m-3">
        <div class="p-2 shadow border" id="tasks">
            <p >
                <mat-form-field  appearance="fill">
                  <input formControlName="validation" matInput placeholder="Code signature" type="text" value={{data.validation}}>
                </mat-form-field>
              </p>
              <div><p>Signature*</p>
                <canvas #canvas (touchstart)="startDrawing($event)" (touchmove)="moved($event)">
                </canvas>
                <div class="d-flex justify-content-around">
                  <mat-icon class="text-danger" style="cursor: pointer;" (click)="clearPad()">close</mat-icon>
                <mat-icon class="text-success" style="cursor: pointer;" (click)="savePad()">check</mat-icon>
                </div>
              </div>
                    <input type="text" [value]="profilContrat.fonction" [(ngModel)]="profilContrat.fonction"></div>
                <button class="btn btn-outline-primary col me-2"  type="button"(click)="updateContrat()" ><mat-icon>edit</mat-icon></button>
              
            </div>
        </div> -->

<!-- <div style=" height: 60px;">
            <div class="m-3">
                <div class="p-2 shadow border" id="tasks">
                    <div class="input-group column ps-3 test" ><mat-icon>location_city</mat-icon>
                        <div class="card col-md-10 border-0"><strong> Ville : </strong>
                            <input type="text" [value]="data.fonction" [(ngModel)]="data.fonction"></div>
                        <button class="btn btn-outline-primary col me-2"  type="button"(click)="updateContrat()" ><mat-icon>edit</mat-icon></button>
                    </div>
                </div>
            </div>
        </div> -->
<!-- <form [formGroup]="registerForm" (ngSubmit)="updateContrat()">

        
    <div class="m-3">
        <div class="p-2 shadow border" id="tasks">
            <p >
                <mat-form-field  appearance="fill">
                  <input formControlName="validation" matInput placeholder="Code signature" type="text" value={{data.validation}}>
                </mat-form-field>
              </p>
              <div><p>Signature*</p>
                <canvas #canvas (touchstart)="startDrawing($event)" (touchmove)="moved($event)">
                </canvas>
                <div class="d-flex justify-content-around">
                  <mat-icon class="text-danger" style="cursor: pointer;" (click)="clearPad()">close</mat-icon>
                <mat-icon class="text-success" style="cursor: pointer;" (click)="savePad()">check</mat-icon>
                </div>
              </div>
                    <input type="text" [value]="data.fonction" [(ngModel)]="data.fonction"></div>
                <button class="btn btn-outline-primary col me-2"  type="button"(click)="updateContrat()" ><mat-icon>edit</mat-icon></button>
              
            </div>
     
        
            <div style="display:flex; align-items:center; justify-content:center">
                <div><button mat-raised-button type="submit" color="primary" [disabled]="registerForm.invalid">Edit</button> </div>
            
                </div>
        
        
        </form> -->

<!-- <div class="row mt-4 super" style="height: 300px;">
  <div class="col"></div>
  <div class="col-md-6 bg-white shadow super">

    <div style=" height: 300px;">
      <div class="m-3">
        <div class="p-2 shadow border" id="tasks">
          <p>
            <mat-form-field class="d-none" appearance="fill">
              <input formControlName="validation" matInput placeholder="Code signature" type="text"
                [value]="data.validation" [(ngModel)]="data.validation">
            </mat-form-field>
          </p>
          <div>
            <p>Signature*</p>
            <canvas #canvas (touchstart)="startDrawing($event)" (touchmove)="moved($event)">

            </canvas>
            <div class="d-flex justify-content-around">
              <button class="btn btn-outline-danger btn-sm col me-2" type="button" (click)="clearPad()">Effacer</button>
              <button class="btn btn-outline-primary btn-sm col me-2" type="button" (click)="savePad()"
                (click)="buttonClick1()">Confirmer 1/2</button>
            </div>
          </div>
          <input class="d-none" type="text" [value]="data.validation" [(ngModel)]="data.validation">
        </div>
        <button class="btn btn-outline-success col me-2" [disabled]="btnDisabled" type="button"
          (click)="updateContrat()">Valider la signature 2/2</button>

      </div>
    </div>
  </div>
  <div class="col"></div> -->



  <div style="width: 300px;">
    <div>
      <p>
        <mat-form-field class="d-none" appearance="fill">
          <input formControlName="validation" matInput placeholder="Code signature" type="text"
            [value]="data.validation" [(ngModel)]="data.validation">
        </mat-form-field>
      </p>
      <div>
        <p>Signature*</p>
        <canvas #canvas (touchstart)="startDrawing($event)" (touchmove)="moved($event)">

        </canvas>
        <div class="d-flex justify-content-around">
          <button class="btn btn-outline-danger btn-sm col me-2" type="button" (click)="clearPad()">Effacer</button>
          <button class="btn btn-outline-primary btn-sm col me-2" type="button" (click)="savePad()"
            (click)="buttonClick1()">Confirmer 1/2</button>
        </div>
      </div>
      <!-- <input  type="text" [value]="data.validation" [(ngModel)]="data.validation"> -->
    </div>
    <button class="btn btn-outline-success col me-2" [disabled]="btnDisabled" type="button"
      (click)="updateContrat()">Valider la signature 2/2</button>

  </div>