<mat-spinner class="spinner" *ngIf="isLoading && !contratBySal" ></mat-spinner>
  <div class="container" *ngIf="profilEntreprise != null">
    <h1 mat-dialog-title>Contrat de Travail</h1>
  <mat-dialog-content class="mat-typography">
    <h3>Fait à Annemasse le <strong> {{data.date_debut | date:'dd MMMM YYYY'}} </strong>  </h3>
   <div *ngFor="let salarie of contratBySal" >
    <p *ngIf="data.fki_salarie == salarie.salarie_id" >
      Ce contrat a été établi entre la société : <br> <br>
      <strong>{{profilEntreprise.raison_sociale}}</strong> <br> représenté par : <br>
      <strong>{{profilEntreprise.civilite }} {{profilEntreprise.nom }} {{profilEntreprise.prenom }}</strong>, <br>
      d'une part, <br> <br>
       et <br> <br>
      <strong>{{salarie.civilite }} {{salarie.nom }} {{salarie.prenom}}</strong> <br>
      né le <strong>{{salarie.date_naissance | date:'dd MMMM YYYY'}}</strong> à <strong>{{salarie.lieu_naissance}}</strong>, <br>
      demeurant au : <br> <strong>{{salarie.rue}}</strong> <br> <strong>{{salarie.cp}} {{salarie.ville}}</strong>, <br> d'autre part.
    </p>
   </div>
  
    <h3>Type de contrat de travail</h3>
    <p>
      Le type de contrat de travail sera un  <strong>{{data.type_contrat}}</strong>
    </p>
  
    <h3>Durée hebdomadaire</h3>
    <p *ngIf="data.is_fulltime" >
      Il est convenu que la durée de travail mensuel sera à <strong>Temp Plein.</strong>
    </p>
    <p *ngIf="!data.is_fulltime" >
      Il est convenu que la durée de travail mensuel sera à <strong>Temp Partiel.</strong>
    </p>
  
    <h3>Date de début du contrat</h3>
    <p>Le contrat débutera le : <strong>{{data.date_debut | date: 'dd, MMMM YYYY'}}.</strong>
  
    </p>
  
    <h3 *ngIf="data.date_fin" >Date de fin du contrat</h3>
  
    <p *ngIf="data.date_fin">
      Etant convenu qu'il s'agit d'un contrat en CDD, Ce dernier prendra fin le <strong>{{data.date_fin | date: 'dd, MMMM YYYY'}}.</strong> 
    </p>
  
    <h3>Periode d'essai</h3>
  
    <p>La période d'essai pour ce travail est de : <strong>{{data.periode_essai}}.</strong> </p>
  
    <p>
      Au cours de cette période, le contrat pourra être rompu par l'une
      ou l'autre partie, à tout moment, sous réserve du respect du délai
      de prévenance prévu.</p>
  
    <h3>Motif</h3>
    <p>
      Le présent contrat a été crée suite a un(e) : <strong> {{data.motif}} </strong>
    </p>
    
    <h3>Rémunération</h3>
    <p>
      Le salaire mensuel Brut sera de : <strong> {{data.remuneration}} €.</strong>
    </p>
  
    <h3>Fonction occupée</h3>
  
    <p>La fonction occupée pour ce travail sera : <strong> {{data.fonction}} </strong> </p>
  
    <h3>Statut</h3>
  
    <p>
      Vous aurez le statut de : <strong> {{data.statut}} </strong>, sous réserve d'évolution de votre carrière.
    </p>
  
  
    
  </mat-dialog-content>
  <mat-dialog-actions align="end">

    <button mat-button (click)="closeDialog()">Fermer</button>
    <button mat-button (click)="printPage()" >Imprimer</button>
    <button mat-button>Télécharger</button>
  </mat-dialog-actions>
  </div>
  




  <div class="containerr" *ngIf="profilEntreprise == null && data.entreprise_id">
    <h1 mat-dialog-title>Contrat de Travail</h1>
  <mat-dialog-content class="mat-typography">
    <div *ngFor="let contrat of contratBySal">
      
      <div *ngIf="contrat.fki_entreprise == data.entreprise_id && profilSalarie.salarie_id == contrat.fki_salarie"  >
     <h3>Fait à Annemasse le,  <strong>{{contrat.date_debut | date:'dd MMMM YYYY'}}</strong>  </h3>
    <p >
      Ce contrat a été établi entre la société : <br> <br>
      <strong>{{data.raison_sociale}}</strong> <br> représenté par : <br>
      <strong>{{data.civilite }} {{data.nom }} {{data.prenom }}</strong>, <br>
      d'une part, <br> <br>
       et <br> <br>
      <strong>{{profilSalarie.civilite }} {{profilSalarie.nom }} {{profilSalarie.prenom}}</strong> <br>
      né le <strong>{{profilSalarie.date_naissance | date:'dd MMMM YYYY'}}</strong> à <strong>{{profilSalarie.lieu_naissance}}</strong>, <br>
      demeurant au : <br> <strong>{{profilSalarie.rue}}</strong> <br> <strong>{{profilSalarie.cp}} {{profilSalarie.ville}}</strong>, <br> d'autre part.
    </p>
 
  
  



      <h3>Type de contrat de travail</h3>
    <p>
      Le type de contrat de travail sera un  <strong>{{contrat.type_contrat}}</strong>
    </p>
  
    <h3>Durée hebdomadaire</h3>
    <p *ngIf="contrat.is_fulltime" >
      Il est convenu que la durée de travail mensuel sera à <strong>Temp Plein.</strong>
    </p>
    <p *ngIf="!contrat.is_fulltime" >
      Il est convenu que la durée de travail mensuel sera à <strong>Temp Partiel.</strong>
    </p>
  
    <h3>Date de début du contrat</h3>
    <p>Le contrat débutera le : <strong>{{contrat.date_debut | date: 'dd, MMMM YYYY'}}.</strong>
  
    </p>
  
    <h3 *ngIf="contrat.date_fin" >Date de fin du contrat</h3>
  
    <p *ngIf="contrat.date_fin">
      Etant convenu qu'il s'agit d'un contrat en CDD, Ce dernier prendra fin le <strong>{{contrat.date_fin | date: 'dd, MMMM YYYY'}}.</strong> 
    </p>
  
    <h3>Periode d'essai</h3>
  
    <p>La période d'essai pour ce travail est de : <strong>{{contrat.periode_essai}}.</strong> </p>
  
    <p>
      Au cours de cette période, le contrat pourra être rompu par l'une
      ou l'autre partie, à tout moment, sous réserve du respect du délai
      de prévenance prévu.</p>
  
    <h3>Motif</h3>
  
    <p>
      Le présent contrat a été crée suite a un(e) : <strong> {{contrat.motif}} .</strong>
    </p>

    <h3>Rémunération</h3>
    <p>
      Le salaire mensuel Brut sera de : <strong> {{contrat.remuneration}} €.</strong>
    </p>
  
    <h3>Fonction occupée</h3>
  
    <p>La fonction occupée pour ce travail sera : <strong> {{contrat.fonction}}. </strong> </p>
  
    <h3>Statut</h3>
  
    <p>
      Vous aurez le statut de : <strong> {{contrat.statut}} </strong>, sous réserve d'évolution de votre carrière.
    </p>

   </div>
  </div>
  
    
  </mat-dialog-content>
  <mat-dialog-actions align="end">

    <button mat-button (click)="closeDialog()">Fermer</button>
    <button mat-button (click)="printPage()" >Imprimer</button>
    <button mat-button>Télécharger</button>
  </mat-dialog-actions>
  </div>

