@media print{

    .containerr{
        width: 100%;
        position: absolute;
        left: 10px;
        top: 20px;
        overflow: hidden;
        -webkit-scrollbar { display: none;}
        mat-dialog-content{
            overflow: hidden;
            -webkit-scrollbar { display: none;}
            scrollbar-width: none;
        }
        button{
            visibility: hidden;
        }
    }
}
// .containerr{
//     display: none;
// }
.spinner{
    position: absolute;
    top: 50%;
    right: 50%;
    z-index: 200;
}