<div class="container">
    <h1>Gestion de mes Salariés</h1>
    <mat-form-field class="example-full-width" appearance="outline">
        <mat-label>Rechercher un salarié</mat-label>
        <input matInput [formControl]="searchBar" maxlength="10" placeholder="Nom ou prénom">
    </mat-form-field>
<div class="cartes" *ngFor="let salarie of allSalarieFiltered">

    <mat-card *ngIf="salarie.fki_entreprise == profil.entreprise_id">
        <mat-card-header>
          <mat-card-subtitle>{{salarie.civilite}}</mat-card-subtitle>
          <mat-card-title>{{salarie.nom}} {{salarie.prenom}}</mat-card-title>
        </mat-card-header>

        <mat-card-actions>
          <button color="primary" mat-button (click)="onDetails(salarie.salarie_id)" >Détails</button>
          <!-- <button color="primary" mat-button (click)="onSubmit(salarie.salarie_id)">Supprimer</button> -->
        </mat-card-actions>
      </mat-card>
      
</div>
<!-- <mat-paginator [length]="10"
              [pageSize]="2"
              [pageSizeOptions]="[5, 10, 25, 100]"
              aria-label="Select page">
</mat-paginator> -->
</div>