<div class="container">
  <h1>Gestion de mes Contrats</h1>

<div class="cartes" *ngFor="let contrat of contratByEnt">

  <mat-card *ngIf="contrat.fki_salarie == profilSalarie.salarie_id">
    <mat-card-header>
      <div>
        <mat-card-title><strong>Societe : {{contrat.raison_sociale}} </strong>
            <br> <em>Contact : {{contrat.prenom}}  {{contrat.nom}}</em> </mat-card-title>
      </div>
       <mat-card-subtitle>Fonction : {{contrat.fonction}} <br> Statut : {{contrat.statut}}</mat-card-subtitle>
      <!-- <mat-card-subtitle>Contrat ID : {{contrat.contrat_id}}</mat-card-subtitle> -->
    
        <mat-card-subtitle>Type Contrat : {{contrat.type_contrat}} <br> Prise d'effet du contrat :
          {{contrat.date_debut | date: 'dd MMM yyyy'}} <br></mat-card-subtitle>
          <mat-card-subtitle *ngIf="contrat.date_fin != null" > <strong>Fin du contrat : {{contrat.date_fin | date: 'dd MMM yyyy'}}</strong></mat-card-subtitle>
         
    </mat-card-header>

    <mat-card-actions>
      <button color="primary" (click)="onDetails(contrat.fki_entreprise)" mat-button>Détails</button>
      <button color="primary"   *ngIf="contrat.validation==null" (click)="modalSign(contrat.contrat_id)" mat-button ><mat-icon>report</mat-icon>Signer contrat</button>
    </mat-card-actions>
  </mat-card>

</div>
</div>

<div class="container">

<div class="cartes" *ngIf="test==undefined && contratByEnt">
<img style="transform: translateX(25%);" src="https://www.pngmart.com/files/1/Sad-Emoji-PNG-Transparent-Image.png" width="200px" height="200px" alt="">
  <mat-card>
    <mat-card-header>
     
        <mat-card-title><strong>Vous n'avez pas encore de contrat.</strong></mat-card-title>
     
       <mat-card-subtitle>Une fois votre premier contrat crée par une entreprise, il apparaitra ici.</mat-card-subtitle>
       <mat-card-subtitle><strong>Pour que ce dernier soit valide, n'oubliez pas de le signer.</strong></mat-card-subtitle>
    </mat-card-header>
  </mat-card>

</div>
</div>
