<div class="container">
  <h1>Gestion de mes Contrats</h1>

<div class="cartes" *ngFor="let contrat of contratByEnt">

  <mat-card *ngIf="contrat.fki_salarie == profilSalarie.salarie_id">
    <mat-card-header>
      <div>
        <mat-card-title><strong>Societe : {{contrat.raison_sociale}} </strong>
            <br> Contact : {{contrat.prenom}}  {{contrat.nom}} </mat-card-title>
      </div>
       <mat-card-subtitle>Fonction : {{contrat.fonction}} <br> Statut : {{contrat.statut}}</mat-card-subtitle>
      <mat-card-subtitle>Contrat ID : {{contrat.contrat_id}}</mat-card-subtitle>
    
        <mat-card-subtitle>Type Contrat : {{contrat.type_contrat}} <br> Prise d'effet du contrat :
          {{contrat.date_debut | date: 'dd MMM yyyy'}} <br></mat-card-subtitle>
          <mat-card-subtitle *ngIf="contrat.date_fin != null" > Fin du contrat : {{contrat.date_fin | date: 'dd MMM yyyy'}}</mat-card-subtitle>
         
    </mat-card-header>

    <mat-card-actions>
      <button color="primary" (click)="onDetails(contrat.fki_entreprise)" mat-button>Détails</button>
      <!-- <button color="primary" (click)="openSnackBar(contrat.contrat_id)" mat-button >Supprimer</button> -->
    </mat-card-actions>
  </mat-card>

</div>
</div>
