<div class="container">
    <h2 mat-dialog-title>Informations conçernant le salarié :</h2>
    <mat-dialog-content class="mat-typography">

        <div>
            <p>
                Civilité : {{data.civilite }} <strong> {{data.prenom }} {{data.nom }}</strong>, <br> </p>


            <p> Né(e) le <strong>{{data.date_naissance | date:'dd MMMM YYYY'}}</strong> à
                <strong>{{data.lieu_naissance}}</strong>, <span *ngIf="data.pays_naissance != 'France'" > ({{data.pays_naissance}}) </span> <br></p>


            <p> Demeurant au : <br> <strong>{{data.rue}}</strong> <br> <strong>{{data.cp}}
                    {{data.ville}}</strong>, <br></p>

            <p type="phone" > Numéro de téléphone : <a href="tel:{{data.telephone}}">{{data.telephone}}</a> <br></p>

            <p> Email : <a href="mailto:{{data.email}}">{{data.email}}</a> <br></p>

            <p *ngIf="data.nom_jeune_fille"> <strong>{{data.nom_jeune_fille}}</strong> </p> <br>

            <p> Numérode sécurité sociale : <strong>{{data.num_ss}}</strong> <br></p>

        </div>





    </mat-dialog-content>
    <mat-dialog-actions align="end">

        <button mat-raised-button (click)="closeDialog()">Fermer</button>
        <!-- <button mat-button (click)="printPage()">Imprimer</button> -->
    </mat-dialog-actions>
</div>