 <div class="contrainer">
  <div class="toolbar" role="banner">
  
    <!-- <span>EasyContrat</span> -->
    <span>Bienvenue dans EasyContrat</span>
      <div class="spacer"></div>
   
  </div>
  
  <div class="content" role="main">
  
    <!-- Highlight Card -->
  
  
    <h2>Vous êtes :</h2>
  
    <div class="card-container">
      <!-- <a class="card" target="_blank" rel="noopener" routerLink="./salarie/login"> -->
        <a class="card" routerLink="salarie/login">
        <span>Un salarié</span>
        </a>
        <!-- <a routerLink="/salarie/login"> <button routerLinkActive="active" >Salarié</button></a> -->
  
      <a class="card" routerLink="entreprise/login">
       <span>Une entreprise</span>
     </a>
  
    </div>
    <img src="https://www.resmed.fr/icon-ResMed-distributor.png" alt="" srcset="">
  
  </div>
  <mat-toolbar class="main footer">
<div>Votre gestionnaire de contrat de travail tout-en-un</div>
</mat-toolbar>
 </div>
