<div class="container d-flex align-items-center flex-column">
  <h1>CHAKCHOUKA Corp</h1> <br>
  <h2> (Salarié)</h2>
  <p class="connect">Connectez-vous :</p> <br>
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">

    <p>
      <mat-form-field appearance="fill">
        <mat-label>Utilisateur</mat-label>
        <input formControlName="email" matInput placeholder="E-mail">
        <mat-icon matSuffix>account_circle</mat-icon>
        <!-- <mat-hint>Hint</mat-hint> -->
      </mat-form-field>
    </p>
    <!-- <mat-spinner class="spinner" *ngIf="isLoading"></mat-spinner> -->
    <p>
      <mat-form-field appearance="fill">
        <mat-label>Mot de passe</mat-label>
        <input matInput [type]="hide ? 'password' : 'text'" formControlName="mdp" matInput placeholder="8 caractères min" type="text">
        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
          [attr.aria-pressed]="hide">
          <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
      </button>
        <mat-hint>1MAJ,1min,1chiffre et 1 symbol min</mat-hint>
      </mat-form-field>
    </p> <br>
    <button mat-raised-button  type="submit" [disabled]="!loginForm.valid">
      Envoyer
          <mat-icon ><mat-spinner color="primary" diameter="20" *ngIf="isLoading">
      </mat-spinner></mat-icon>
    </button>
    <!-- <button mat-raised-button type="submit" [disabled]="!loginForm.valid">Envoyer</button> <br> -->
    <div class="notSubscribe">
      <span>Vous n'avez pas encore de compte</span> <br>
      <span>Cliquez <a routerLink="/salarie/register">ici</a> pour vous inscrire.</span>
    </div>

  </form>

</div>